<tr>
    <td width="70px">
        <a href="{{ url_for('main.user', username=post.author.username) }}" aria-hidden="true">
            <img src="{{ post.author.avatar(70) }}" alt="{{ post.author.username }} user avatar"/>
        </a>
    </td>
    <td>
        {% set user_link %}
        <a href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.username }}
        </a>
        {% endset %}
        {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
        <br>
        <a href="{{ url_for('main.post', post_id=post.id) }}">
            {{ post.body }}
        </a>
    </td>
</tr>
