<h1>Welcome to the Accessible Forum</h1>
<p>
    This is a fully accessible forum-like website designed specifically for the visually impaired people. 
    For the best experience, do not use a mouse and use only the keyboard shortcuts mentioned below along with a screen reader like NVDA. 
    If on a mobile device, use the appropriate accessibility tool based on your OS: Talkback on Android and VoiceOver on iOS.
    Start by searching a keyword like <em>nvda</em>, <em>jaws</em>, <em>skype</em>, etc. in the search field in the navigation bar.
</p>
<p>
    This website uses the
    <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#TreeView">
        Treeview design pattern
    </a> as specified in the Web Accessibility Initiative (WAI) ARIA authoring practices by W3C org for easy navigation using keyboard shortcuts only.
    Tested on
    <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>,
    <a href="https://www.google.com/chrome/">Google Chrome</a> and
    <a href="https://www.microsoft.com/en-us/edge">Microsoft Edge</a> browsers using the
    <a href="https://www.nvaccess.org/">NVDA screen reader</a> on Windows, VoiceOver on macOS and Talkback on Android.
</p>
<p>
    <strong>Note: </strong>The nodes mentioned on this page refer to posts in the thread view and threads in the search view.
</p>
<h2>Keyboard shortcuts</h2>
<p>
    The following keyboard shortcuts are supported by this site:
</p>
<table class="table table-hover table-striped">
    <caption>Keyboard Support</caption>
    <thead>
    <tr>
        <th scope="col">
            Key
        </th>
        <th scope="col">
            Function
        </th>
    </tr>
    </thead>

    <tbody>
    <tr data-test-id="key-down-arrow">
        <th><span class="keycap">↓</span></th>
        <td>
            <ul>
                <li>Moves focus to the next node that is focusable without opening or closing a node.</li>
                <li>If focus is on the last node, does nothing.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-up-arrow">
        <th><span class="keycap">↑</span></th>
        <td>
            <ul>
                <li>Moves focus to the previous node that is focusable without opening or closing a node.</li>
                <li>If focus is on the first node, does nothing.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-right-arrow">
        <th><span class="keycap">→</span></th>
        <td>
            <ul>
                <li>When focus is on a closed node, opens the node; focus does not move.</li>
                <li>When focus is on a open node, moves focus to the first child node.</li>
                <li>When focus is on an end node, does nothing.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-left-arrow">
        <th><span class="keycap">←</span></th>
        <td>
            <ul>
                <li>When focus is on an open node, closes the node.</li>
                <li>When focus is on a child node that is also either an end node or a closed node, moves focus to
                    its parent node.
                </li>
                <li>When focus is on a root node that is also either an end node or a closed node, does nothing.
                </li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-home">
        <th><span class="keycap">Home</span> or <span class="keycap">Space</span></th>
        <td>
            <ul>
                <li>Moves focus to first node without opening or closing a node.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-end">
        <th><span class="keycap">End</span></th>
        <td>
            <ul>
                <li>Moves focus to the last node that can be focused without expanding any nodes that are closed.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-character">
        <th><span class="keycap">a-z, A-Z</span></th>
        <td>
            <ul>
                <li>Focus moves to the next node with a name that starts with the typed character.</li>
                <li>Search wraps to first node if a matching name is not found among the nodes that follow the
                    focused node.
                </li>
                <li>Search ignores nodes that are descendants of closed nodes.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-asterisk">
        <th>
            <span class="keycap">*</span> (asterisk)
        </th>
        <td>
            <ul>
                <li>Expands all closed sibling nodes that are at the same level as the focused node.</li>
                <li>Focus does not move.</li>
            </ul>
        </td>
    </tr>
    <tr data-test-id="key-question">
        <th>
            <span class="keycap">?</span> (question mark)
        </th>
        <td>
            <ul>
                <li>Focus moves to the highlighted node which is part of the search result within the thread.</li>
                <li>Expands all the nodes in the path to the focused node.</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<h2>Views support</h2>
<p>
This forum has support for three different views: <em>tree</em>, <em>slim</em> and <em>linear</em>. It can be changed by changing the <em>v</em> query param in the url.
</p>
<table class="table table-hover table-striped">
    <caption>Views Support</caption>
    <thead>
    <tr>
        <th scope="col">
            View
        </th>
        <th scope="col">
            Description
        </th>
    </tr>
    </thead>

    <tbody>
    <tr data-test-id="tree-view">
        <th>tree (default)</th>
        <td>
            Shows the nodes in a tree like view with a parent child kind of relationship between them.
        </td>
    </tr>
    <tr data-test-id="slim-view">
        <th>slim</th>
        <td>
            Similar to the tree view but with smaller depth of nodes.
        </td>
    </tr>
    <tr data-test-id="linear-view">
        <th>linear</th>
        <td>
            Shows all the nodes in a linear fashion with no relationship between the nodes.
        </td>
    </tr>
    </tbody>
</table>