{% extends "base.html" %}

{% block app_content %}
    <a href="{{ url_for('main.parentPosts',id=parentPost[0].id) }}">
        <button> Back to Parent Posts</button>
    </a>
    <br>
    <br>
    {% for post in parentPost %}
        {% include '_post.html' %}
    {% endfor %}
    </a>
    <br>
    <!-- <a href="{{ url_for('main.parentPosts',id=parentPost[0].id) }}">
        <button style="margin-left: 20px;"> < </button>
    </a>
    <a href="{{ url_for('main.parentPosts',id=parentPost[0].id) }}">
        <button style="margin-right: 20px;"> > </button>
    <br>
    <br> -->
    {% if posts[0] %}
        <h5 style="margin-left: 40px;"> Replies</h5>
    {% endif %}
    <div style="margin-left: 40px;">
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        <br>
    </div>
{% endblock %}