{% extends "base.html" %}

{% block app_content %}
    <h3 id="tree1">
        {{ thread.title }}
    </h3>
    {% if thread.posts[0] %}
        <ul role="tree" aria-labelledby="tree1">
            {% set level = namespace(value=1) %}
            {% for post in [thread.posts[0]] recursive %}
                {% set children = post.get_children(level.value) %}
                {% set level.value = level.value + 1 %}
                {% if children[0] %}
                    <li role="treeitem"
                        aria-expanded="false">
                        {% include "_post.html" %}
                        <ul role="group">
                            {{ loop(children) }}
                        </ul>
                    </li>
                {% else %}
                    <li role="treeitem">
                        {% include "_post.html" %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>
            This thread does not have any posts.
        </p>
    {% endif %}
{% endblock %}